body {
  margin: 0px;
  /* source https://wallpapercave.com/wp/NS1sUGY.jpg */
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header, footer, #search-area {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3px;
  padding-left: 15px;
  margin-left: 0px;
}

h1, h2, #card {
  user-select: none;
}

h1 {
  color: yellow;
  user-select: none;
}

section, article, #card div, #search-area {
  display: flex;
}

section {
  justify-content: space-evenly;
  margin: 20px;
}

article, #search-area {
  flex-direction: column;
  padding: 5px;
}

input {
  margin-bottom: 5px;
}

#fields, #card {
  border-radius: 10px;
}

#fields {
  align-items: flex-start;
  border: 5px solid black;
  background-color: lightblue;
  width: 40%;
}

#card {
  align-items: center;
  background-color: white;
  border: 10px solid black;
  height: 400px;
  width: 300px;
}

#card p {
  margin: 3px;
}

#card div {
  justify-content: space-between;
  width: 95%;
}

#textbox {
  height: 30%;
  width: 80%;
  background-color: lightgray;
  padding: 5px;
  border-radius: 3px;
}

#card-stats, #cardcost {
  font-weight: bolder;
  font-size: larger;
  color: white;
  background-color: black;
  border-radius: 8px;
}

#cardcost {
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

#card-stats {
  align-self: flex-end;
  margin-right: 30px;
  padding: 3px;
}

#card-img {
  width: 90%;
  height: 40%;
  border-radius: 8px;
}

#search-results {
  justify-content: flex-start;
  flex-wrap: wrap;
}

#search-results img {
  width: 18%;
  height: fit-content;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aliceblue;
  text-align: center;
}

.hidden {
  display: none;
}